html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
*, *::before, *::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
.visually-hidden {
	position: absolute !important; 
	width: 1px !important;
	height: 1px !important;
	padding:0 !important;
	border:0 !important;
	clip: rect(1px, 1px, 1px, 1px); 
	overflow: hidden;
}
body {
	margin: 0;
	min-width: 320px;
}
header {
	/* background-color: gray; */
}
a {
	outline-color: transparent!important;
}
a:hover,
a:focus {
	text-decoration: none;
}
.container {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.site-main {
	/* min-height: 2000px; */
}
h1 {
	color: red;
}
.menu-is-open .site-main,
.menu-is-open .site-footer {
	display: none;
}
body {
	--buttonColor: #231F20;
	--nolaColor1: #BF1E2E;
	--nolaColor2: #231f20;
	--menuColor: #515151;
	--menuActiveColor: #231F20;
	--menuBgColor: #FFFFFF;
	--askColor: #BF1E2E;
	--borderColor: #8F8F8F;
}
body.home {
	--buttonColor: #FFFFFF;
	--nolaColor1: #FFFFFF;
	--nolaColor2: #FFFFFF;
	--menuColor: #FFFFFF;
	--menuActiveColor: #BF1E2E;
	--menuBgColor: #231F20;
	--askColor: #FFFFFF;
	--borderColor: #FFFFFF;
}
/* @import url(../css-partials/cssnext.css); */
.site-header {	
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-transition-property: padding-top, padding-bottom, background-color;
	transition-property: padding-top, padding-bottom, background-color;
	-webkit-transition-duration: .2s;
	        transition-duration: .2s;
}
.is-fixed.site-header {
	position: fixed;
	background-color: var(--menuBgColor);
	padding-top: 0;
	padding-bottom: 0;
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .12);
	        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.site-header-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 13px;
	padding-bottom: 13px;
}
.site-footer {
	background-color: white;	
}
.blog-page .site-footer {
	background-color: #F8F9FA;	
}
.button {
	display: none;
	width: 28px;
	height: 22px;
	margin-left: 20px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	cursor: pointer;
}
.button span {
	display: block;
	width: 28px;
	height: 2px;
	background-color: var(--buttonColor);
	opacity: 1;
	-webkit-transition: opacity .3s, background-color .3s, -webkit-transform .3s;
	transition: opacity .3s, background-color .3s, -webkit-transform .3s;
	transition: transform .3s, opacity .3s, background-color .3s;
	transition: transform .3s, opacity .3s, background-color .3s, -webkit-transform .3s;
}
.button:hover span {opacity: 0.7;}
.button span {
	-webkit-transform-origin: center center;
	        transform-origin: center center;
	-webkit-transform: translate(0,0) rotate(0);
	        transform: translate(0,0) rotate(0);
}
.button span + span {margin-top: 8px;}
.menu-is-open .button span:nth-child(1) {
	-webkit-transform: translateY(10px) rotate(45deg) scale(1.2);
	        transform: translateY(10px) rotate(45deg) scale(1.2)
}
.menu-is-open .button span:nth-child(2) {
	-webkit-transform: rotateY(90deg);
	        transform: rotateY(90deg)
}
.menu-is-open .button span:nth-child(3) {
	-webkit-transform: translateY(-10px) rotate(-45deg) scale(1.2);
	        transform: translateY(-10px) rotate(-45deg) scale(1.2)
}
.logo {
	display: inline-block;
	height: 44px;
	margin-right: auto;
	}
.logo a {-webkit-transition: opacity .3s;transition: opacity .3s;}
.logo a:hover {opacity: 0.7;}
.nolaColor1 {fill: var(--nolaColor1);}
.nolaColor2 {fill: var(--nolaColor2);}
.site-header .logo {margin-left: 20px;}
.site-footer .nolaColor1 {fill: #BF1E2E;}
.site-footer .nolaColor2 {fill: #231f20;}
.menu {
	-ms-flex-preferred-size: auto;
	    flex-basis: auto;
}
.site-header .menu {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.get-started--mobile {
	display: none;
}
.menu-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.site-header .menu-ul {
	display: none;
}
.site-header .menu-ul {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
.site-header .menu-ul li {
	margin-left: 10px;
	margin-right: 10px;
}
.site-header .menu-ul li a {
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: var(--menuColor);
	text-decoration: none;
	text-transform: uppercase;
}
.menu-ul li a {
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	border-bottom: 1px solid transparent;	
}
.menu-ul li:not(.current-menu-item) a:hover,
.menu-ul li:not(.current-menu-item) a:focus {
	border-bottom-color: currentColor;
}
.site-header .menu-ul .current-menu-item a {
	color: var(--menuActiveColor);
	cursor: default;
}
.menu-is-open .site-header .menu-ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	pointer-events: all;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 100px;
	padding-bottom: 40px;
	overflow-y: auto;
}
.menu-is-open .site-header .menu-ul li:not(:last-child) {
	margin-bottom: 20px;
}
.menu-is-open .site-header .menu-ul li a {
	font-size: 40px;
	line-height: 1.5;
}
.site-footer .menu-ul li:not(:first-child) {
	margin-left: 20px;
}
.site-footer .menu-ul li a {
	font-size: 14px;
	line-height: 19px;
	font-family: 'Open Sans', sans-serif;
	color: #231F20;
	text-decoration: none;
}
.site-footer .menu-ul li.current-menu-item a {
	border-bottom-color: currentColor;
	cursor: default;
}
.get-started {
	margin-left: auto;
	margin-right: 20px;
}
.btn {
	display: inline-block;
	width: 184px;
	height: 48px;
	font-weight: 600;
	font-size: 14px;
	line-height: 46px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	border-radius: 4px;
	padding-left: 20px;
	padding-right: 20px;
	border-style: solid;
	border-width: 1px;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition-property: color, border-color, background-color;
	transition-property: color, border-color, background-color;
	-webkit-transition-duration: .3s;
	        transition-duration: .3s;
}
.btn--header-get-started {
	width: auto;
	height: 40px;
	line-height: 38px;
	color: var(--menuColor);
	border-color: var(--borderColor);
}
.btn--header-get-started:hover,
.btn--header-get-started:focus {
	color: #BF1E2E;
}
.btn--white {
	color: #BF1E2E;
	background-color: white;
	border-color: white;
}
.btn--white:hover,
.btn--white:focus {
	color: #BF1E2E;
	background-color: transparent;
	border-color: #BF1E2E;
}
.btn--red {
	color: white;
	background-color: #BF1E2E;
	border-color: #BF1E2E;
}
.btn--red:hover,
.btn--red:focus {
	color: #BF1E2E;
	background-color: transparent;
	border-color: #BF1E2E;
}
.btn--wide {
	width: 265px;
}
.fullscreen-slider {
	width: 100%;
	height: auto;
	min-height: 480px;
}
.fullscreen-slide {
	position: relative;
	width: 100%;
	height: 100%;
}
.fullscreen-slide::before {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
	content: "";
}
.fullscreen-slide picture,
.fullscreen-slide img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.fullscreen-slide-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.fullscreen-slide__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding-top: 100px;
	padding-bottom: 100px;
}
.fullscreen-slide__heading,
.fullscreen-slide__subheading {
	max-width: 560px;
}
.fullscreen-slide__heading {
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	font-family: "Libre Baskerville", serif;
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 30px;
}
.fullscreen-slide__subheading {
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
	color: #FFFFFF;
	text-shadow: 1px 1px 0 black;	
	margin-top: 0;
	margin-bottom: 40px;
}
.fullscreen-form {
	width: 100%;
	background-color: #F8F9FA;
	padding-top: 70px;
	padding-bottom: 100px;
}
.fullscreen-form span {
	display: block;
	font-size: 30px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	margin-bottom: 20px;
}
.page-heading {
	display: block;
	margin: 0 auto 30px;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #231F20;
	max-width: 600px;	
}
.page-subheading {
	display: block;
	margin: 0 auto 60px;
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #7B7B7B;
	max-width: 650px;	
}
.page-subheading--no-margin {
	margin-bottom: 0;
}
.our-services {
	width: 100%;
	background-color: #FFF;
	padding-top: 70px;
	padding-bottom: 70px;
}
.our-services__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.service-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 290px;
	    flex-basis: 290px;
	max-width: 290px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.service-item__img {
	margin-bottom: 35px;
}
.service-item__heading {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 20px;
}
.service-item__text {
	display: block;
	font-size: 14px;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #7B7B7B;	
	margin-bottom: 20px;
}
.service-item__link {
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	font-family: "Open Sans", sans-serif;
	color: #BF1E2E;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.service-item__link:hover,
.service-item__link:focus {
	border-bottom-color: currentColor;
}
.service-item__link span {
	display: inline-block;
	margin-left: 10px;
}
.the-matchmaker {
	position: relative;
	z-index: 2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	background-color: transparent;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 40px;
}
.matchmaker-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 560px;
	padding: 50px;
	background-color: #FFFFFF;
	border-radius: 4px;
	max-width: 100%;
	-webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1);
	        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.matchmaker-card__heading {
	display: block;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 20px;	
}
.matchmaker-card__text {
	display: block;
	width: 420px;
	margin: 0 auto 40px;
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans";
	text-align: center;
	color: #7B7B7B;
	max-width: 100%;
}
.matchmaker-card__img {
	width: 280px;
	height: 280px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 40px;
}
.matchmaker-card__img picture,
.matchmaker-card__img img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.matchmaker-card__name {
	display: block;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 15px;
}
.matchmaker-card__link {
	display: block;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	font-family: "Open Sans", sans-serif;
	color: #BF1E2E;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	margin-top: 0;
	margin-bottom: 30px;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.matchmaker-card__link:hover,
.matchmaker-card__link:focus {
	border-bottom-color: currentColor;
}
.matchmaker-card__link span {
	display: inline-block;
	margin-left: 10px;
}
.matchmaker-text {
	position: relative;
	width: 100%;
	height: 1480px;
	margin-top: -348px;
	overflow-x: hidden;
}
.matchmaker-text-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 450px;
}
.matchmaker-text picture,
.matchmaker-text img {
	display: block;
	width: auto;
	height: 100%;
	min-width: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.matchmaker-text__text {
	width: 980px;
	font-size: 18px;
	line-height: 36px;
	font-family: "Open Sans", sans-serif;
	text-align: center;	
	color: #231F20;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 50px;
}
.matchmaker-text .btn {
	-webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .12);
	        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .12);
}
.testimonials {
	width: 100%;
	background-color: #F8F9FA;
	padding-top: 100px;
	padding-bottom: 100px;
}
.testimonials-controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.testimonials-controls svg {
	display: block;
}
.control-prev,
.control-next {
	cursor: pointer;
}
.control-indicator {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 18px;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
	color: #231F20;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}
.testimonials-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 750px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.testimonials-item__photo {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}
.testimonials-item__photo img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.testimonials-item__name {	
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #231F20;
	margin-bottom: 30px;
	margin-top: 0;
}
.testimonials-item__text {
	position: relative;
	display: inline-block;
	font-style: italic;
	font-size: 18px;
	line-height: 34px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 40px;
}
.testimonials-item__text::before {content: "“ ";}
.testimonials-item__text::after {content: "“";}
.text-content {
	padding-top: 150px;
	padding-bottom: 50px;
	overflow-x: hidden;
}
.text-content__heading-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 0;
	margin-bottom: 30px;
}
.text-content p,
.text-content li {
	font-size: 14px;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 30px;
}
.flex-img {
	margin-top: 70px;
	margin-bottom: 70px;
}
.flex-img picture,
.flex-img img {
	display: block;
	width: auto;
	height: auto;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.text-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100vw;
	background-color: #F8F9FA;
	margin-left: calc(50% - 50vw);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: 70px;
}
.text-img__text {
	margin-top: 70px;
}
.text-content--no-padding {
	padding-top: 0;
}
.text-content--no-padding .btn--red {
	display: block;
	margin: 60px auto 60px;
}
.how-it-works {
	width: 100%;
	padding-top: 60px;
	padding-bottom: 60px;
}
.how-it-works-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 60px;
	padding-bottom: 70px;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.how-it-works-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 25%;
	    flex-basis: 25%;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.how-it-works-card__number {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 80px;
	height: 80px;
	font-weight: bold;
	font-size: 36px;
	line-height: 1;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #FFFFFF;
	background-color: #BF1E2E;
	border-radius: 40px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-top: 0;
	margin-bottom: 30px;
}
.how-it-works-card__heading {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 20px;	
}
.how-it-works-card__subheading {
	display: block;
	font-size: 14px;
	line-height: 26px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	color: #7B7B7B;
	margin-top: 0;
	margin-bottom: 0;
}
.how-it-works .btn--red {
	display: block;
	margin: 0 auto 100px;
}
.pricing {
	margin-top: 50px;
	margin-bottom: 70px;
}
.pricing-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.pricing__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 415px;
	    flex-basis: 415px;
	max-width: 415px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.pricing__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 32px;
	font-family: "Open Sans", sans-serif;
	color: #8C8C8C;	
}
.pricing__price {
	font-weight: bold;
	font-size: 18px;
	line-height: 32px;
	font-family: "Libre Baskerville", serif;
	text-align: right;
	color: #231F20;	
}
.blog-content {
	background-color: #F8F9FA;
	padding-top: 150px;
	padding-bottom: 50px;	
}
.blog-content__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: calc(100% + 30px);
	padding-top: 0;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
}
.card {
	margin: 15px;
	padding: 20px;
	background-color: #FFFFFF;
	border: 1px solid #E5E9EC;
	border-radius: 2px;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
	-ms-flex-preferred-size: 360px;
	    flex-basis: 360px;
	max-width: 360px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	text-decoration: none;
}
.card:hover,
.card:focus {
	opacity: 0.7;
}
.card__img {
	width: calc(100% + 40px);
	height: 140px;
	margin: -20px -20px 25px;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.card__heading {
	display: block;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: "Libre Baskerville", serif;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 15px;
}
.card__excerpt {
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-family: "Open Sans", sans-serif;
	color: #7B7B7B;
	margin-top: 0;
	margin-bottom: 15px;
}
.card__date {
	display: block;
	font-size: 14px;
	line-height: 24px;
	font-family: "Open Sans", sans-serif;
	color: #8C8C8C;
	margin-top: 0;
	margin-bottom: 0;
}
.article-content__title-img {
	width: 100%;
	height: auto;
	margin-bottom: 60px;
}
.article-content__title-img picture,
.article-content__title-img img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}
.article-content__heading {
	display: block;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	font-family: "Libre Baskerville", serif;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 25px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;	
}
.article-content__date {
	display: block;
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans", sans-serif;
	color: #8C8C8C;
	margin-top: 0;
	margin-bottom: 40px;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;	
}
.contact-us-content {
	background-color: white;
	padding-top: 150px;
	padding-bottom: 50px;	
}
.contact-phone {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin: 30px 0 60px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.contact-phone__text {
	display: block;
	margin: 5px 10px;
	font-weight: 600;
	font-size: 24px;
	line-height: 32px;
	font-family: "Open Sans", sans-serif;
	color: #8C8C8C;
}
.contact-phone__number {
	display: block;
	margin: 5px 10px;
	font-weight: bold;
	font-size: 24px;
	line-height: 32px;
	font-family: "Libre Baskerville", serif;	
	color: #231F20;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}
.contact-phone__number:hover,
.contact-phone__number:focus {
	border-bottom-color: currentColor;
}
.contact-us-form {
	width: 100%;
	background-color: #F8F9FA;
	padding-top: 70px;
	padding-bottom: 70px;
}
.contact-us-form-wrapper {
	display: block;
	max-width: 555px;
	margin-left: auto;
	margin-right: auto;
}
.form-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.form-control {
	width: 100%;
	height: 52px;
	padding: 15px;
	font-size: 14px;
	line-height: 19px;
	font-family: "Open Sans", sans-serif;
	color: #8C8C8C;
	background-color: #FFFFFF;
	border: 1px solid #DEE2E4;
	border-radius: 4px;
	-ms-flex-preferred-size: 263px;
	    flex-basis: 263px;
	max-width: 263px;
	margin-bottom: 30px;
}
.form-control--textarea {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	max-width: 100%;
	min-height: 100px;
	resize: vertical;
}
.form-submit {
	display: block;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.ask-ann-content {
	background-color: white;
	padding-top: 150px;
	padding-bottom: 50px;	
}
.ask-ann-form {
	width: 100%;
	margin: 0 auto 40px;
	max-width: 555px;
}
.form-control--wide {
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	max-width: 100%;
}
.ask-ann-answers {
	padding-bottom: 100px;
}
.ask-ann-answers-wrapper {
	width: 100%;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.answers-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 50px;
	border: 2px solid #E5E9EC;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.answers-item:not(:last-child) {margin-bottom: 50px;}
.answers-item__question {
	margin-bottom: 50px;
}
.answers-item__person {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 20px;
}
.answers-item__icon {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	overflow: hidden;
	margin-right: 15px;
}
.answers-item__icon--anonym {
	position: relative;
}
.answers-item__icon--anonym::after {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-size: 48px;
	line-height: 60px;
	font-family: "Libre Baskerville", serif;
	text-align: center;
	color: #BF1E2E;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	content: "Q";	
}
.answers-item__name {
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	font-family: "Open Sans", sans-serif;
	color: #231F20;	
}
.answers-item__text {
	display: block;
	font-size: 16px;
	line-height: 28px;
	font-family: "Open Sans", sans-serif;
	color: #231F20;
	margin-top: 0;
	margin-bottom: 0;	
}
.answers-item__text--bold {
	font-weight: bold;
}
.get-started-content {
	background-color: white;
	padding-top: 150px;
	padding-bottom: 50px;	
}
.footer-top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #EAE9E9;
}
.footer-bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.copy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.copyright {
	font-size: 12px;
	line-height: 17px;
	font-family: 'Open Sans', sans-serif;
	color: #B6B6B6;	
}
.copy ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.copy a {
	font-size: 12px;
	line-height: 17px;
	font-family: "Open Sans", sans-serif;
	color: #231F20;
	-webkit-transition: border-bottom-color .3s;
	transition: border-bottom-color .3s;
	margin-left: 20px;
	text-decoration: none;
	border-bottom: 1px solid transparent;	
}
.copy a:hover,
.copy a:focus,
.copy .current-menu-item a {
	border-bottom-color: currentColor;
}
.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.social a {
	text-decoration: none;
}
.social a:not(:first-child) {
	margin-left: 30px;	
}
.social svg {
	display: block;
	width: 20px;
	height: 20px;
}
.social path {
	-webkit-transition: fill .3s;
	transition: fill .3s;
}
.social a:hover path,
.social a:focus path {
	fill: #BF1E2E;
}
@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {
	.container {max-width: 970px;}
	.container--narrow {max-width: 950px;}
	.text-columns	{
		-webkit-column-count: 2;
		        column-count: 2;
		-webkit-column-gap: 30px;
		        column-gap: 30px;
	}
	.flex-img {
		width: 100%;
	}
	.container--ultra-narrow p,
	.container--ultra-narrow ul,
	.container--ultra-narrow ol {
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;		
	}}
@media (min-width: 1200px) {
	.container {max-width: 1140px;}
	.container--narrow {max-width: 950px;}
	.site-header .menu-ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.site-header .menu-ul .ask-ann {
		margin-left: 20px;
		padding-left: 30px;
		border-left: 1px solid var(--borderColor);
	}

	.site-header .menu-ul .ask-ann a {
		color: var(--askColor);
	}}
@media (max-width: 1199px) {
	.button {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.menu-is-open .site-header .menu {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		background-color: var(--menuBgColor);
		min-height: 100vh;
		pointer-events: none;
	}}
@media (max-width: 991px) {
	.footer-top .logo {
		margin-left: auto;
		margin-bottom: 50px;
	}
	.fullscreen-slide {
		height: 100vh;
	}
	.fullscreen-slide::before {
		background-color: rgba(0, 0, 0, .4);
	}
	.fullscreen-slide__text {
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.fullscreen-slide__heading,
	.fullscreen-slide__subheading {
		text-align: center;
	}
	.our-services__wrapper {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	.service-item {
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}

	.service-item:not(:last-child) {
		margin-bottom: 50px;
		-ms-flex-preferred-size: auto;
		    flex-basis: auto;
	}
	.flex-img {
		width: 100vw;
		margin-left: calc(50% - 50vw);
	}
	.flex-img picture,
	.flex-img img {
		width: 100%;
	}
	.how-it-works {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.how-it-works-wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding-bottom: 0;
	}

	.how-it-works-card {
		-ms-flex-preferred-size: 260px;
		    flex-basis: 260px;
		max-width: 260px;
		margin-bottom: 60px;
	}

	.how-it-works .btn--red {
		margin-bottom: 80px;
	}
	.pricing-wrapper {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.pricing__item {
		max-width: 100%;
	}
	.answers-item {padding: 40px;}
	.answers-item:not(:last-child) {margin-bottom: 40px;}
	.footer-top {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.footer-bottom {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.social {
		-webkit-box-ordinal-group: 0;
		    -ms-flex-order: -1;
		        order: -1;
		margin-bottom: 50px;
	}}
@media (max-width: 767px) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.text-img {
		padding-left: 20px;
		padding-right: 20px;
	}
	.answers-item {padding: 20px;}
	.answers-item:not(:last-child) {margin-bottom: 20px;}}
@media (max-width: 641px) {
	.site-footer .menu-ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.site-footer .menu-ul li:not(:first-child) {
		margin-left: 0;
		margin-top: 20px;
	}

	.site-footer .menu-ul li {
		text-align: center;
	}
	.matchmaker-card {
		padding: 50px 20px;
	}

	.matchmaker-card__heading {
		font-size: 20px;
		line-height: 27px;
	}

	.matchmaker-card__img {
		width: 200px;
		height: 200px;
	}
	.form-control {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
		max-width: 100%;		
	}
	.copy {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.copyright {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin-top: 40px;
	}

	.copy a {
		margin-left: 10px;
		margin-right: 10px;
	}}
@media (max-width: 479px) {
	.site-header .get-started {
		display: none;
	}

	.menu-is-open .site-header .menu .get-started--mobile {
		display: block;
	}
	
	.menu-is-open .site-header .menu-ul li a {
		font-size: 32px;
	}
	.fullscreen-slide__heading {
		font-size: 24px;
		line-height: 34px;
	}
	.matchmaker-text {
		margin-top: -200px;
	}

	.matchmaker-text-wrapper {
		padding-top: 300px;
	}
	.card {
		max-width: 100%;
	}}

/*# sourceMappingURL=styles.css.map */
